.bg-365e46
{
    background-color: #365e46;
}

.bg-55e890
{
  background-color: #55e890;
}

.bg-transparent
{
    background-color: transparent !important;
}

.image-background
{
  width: 90%;

  box-shadow: 30px 30px 10px grey;
}

.btn:hover{
  background-color: #4ac47b;
  border-color: #4ac47b;
}

.card
{
    background-color: transparent;
}

.border-365e46
{
    border: solid 10px #365e46;
    border-radius: 10px;
}

.border-transparent
{
    border: solid 1px transparent;
    border-radius: 10px;
}

.font-25
{
  font-size: 25px;
}

.font-20
{
  font-size: 20px;
}

.h-5px
{
  height: 5px;
}

.cursor-pointer
{
  cursor: pointer;
}
/* Hình ảnh */
.logo
{
  width: 200px;
}

.user-logo
{
  width: 200px;
}

.gamemode-logo
{
  width:200px;    
}

table
{
    table-layout: fixed;
    white-space: normal !important;
}

table td
{
    word-wrap: break-word;
    
}

/* Hover animation */