.bg-d35400
{
    background-color: #d35400;
}

.bg-e28636
{
    background-color: #e28636;
}

.bg-transparent
{
    background-color: transparent;
}

.font-25
{
    font-size: 25px;
}

.cursor-pointer
{
    cursor: pointer;
}

.logo
{
    width: 100px;
}