.bg-365e46
{
    background-color: #365e46;
}

.bg-55e890
{
  background-color: #55e890;
}

.bg-transparent
{
    background-color: transparent !important;
}

.image-background
{
  width: 90%;
}

.card
{
    background-color: transparent;
}

.border-365e46
{
    border: solid 10px #365e46;
    border-radius: 10px;
}

.border-transparent
{
    border: solid 1px transparent;
    border-radius: 10px;
}

.font-25
{
  font-size: 25px;
}

.font-20
{
  font-size: 20px;
}

.h-5px
{
  height: 5px;
}

.h-200px
{
  height: 200px;
}

.h-250px
{
  height: 250px;
}

.cursor-pointer
{
  cursor: pointer;
}
/* Hình ảnh */
.logo
{
  width: 200px;
}

.user-logo
{
  width: 200px;
}

.gamemode-logo
{
  width:200px;    
}

table
{
    table-layout: fixed;
    white-space: normal !important;
}

table td
{
    word-wrap: break-word;
    
}

.border-15px-365e46
{
  border: 15px solid #365e46;
  border-radius: 10px;
}

.btn-facebook
{
  background-color: #4267B2;
}

.btn-google
{
  background-color: #EF3C27;
}

textarea
{
  min-height: 30px;
}

/* Hover animation */

/* PlayGround CSS */
table
{
  table-layout: fixed;
}

.my-btn{
  color: red !important;

  padding: 5px;
  font-size: 15px;
}

.board{   
  min-width: 730px;
  
  padding: 0px;    
}

.board-row{
  margin: 0;
  padding: 0;
}

.square{   
  cursor: default !important;
  
  width: 35px;
  height: 35px;

  margin: 0;
  padding: 0;

  border: 0.5px solid black;        

  font-weight: bold;
}

.square-normal{
  background-color: white;
  color: black;
}

.square-current{
  background-color: lightskyblue;
  color: black;
}

.square-winnerMove{
  color: white;
  background-color: green;
}

.status{
  background-color: white;  
  border-radius: 10px;
  padding: 10px;
}

.alert{
  margin-bottom: 0;

  font-weight: bold;
  font-size: 20px;
}

.history-table{ 
  width: 100%;      

  background-color: white;      

  overflow-y: scroll;
}

.history-table table{    
  width: 100%;
}

/* Chat box */
.chatbox
{
  width:100%;     
  height: 200px;      
  padding: 10px 0;
}

.chatbox .messages
{  
  height:170px;
  overflow: auto;
  padding: 10px;
}

.rounded-pill
{
  border: 0.1 solid transparent;
  border-radius: 10px;
}

.input-container
{
  height: 50px;            
  padding: 10px;
}

.input-container .form-control
{
  resize: none;
}

